html {
  background-color: #000;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.font-poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.searchbar {
  background-color: #191a1a;
}
